<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>卡付通</title>
    <meta name="description" content="武汉卡付通公司，专业pos代理商" />
	<meta name="keywords" content="卡付通,武汉卡付通,pos代理" />
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/template.css" rel="stylesheet">
    <link href="/fonts/iconfont/iconfont.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="phone_shade phone_shade_hide hidden-sm hidden-md hidden-lg">
</div>

<div class="container phone_nav hidden-sm hidden-md hidden-lg">
    <header class="clearfix">
        <div class="header_menu"><a id="headerMenu_id"><span class="iconfont-32 icon-zitigui"></span></a></div>
        <div class="header_home"><a href="/"><span class="iconfont-32 icon-shouye-1"></span></a></div>
    </header>
    <div id="headerPanel_id" class="header_panel">
        <ul>
            <li><a href="/kft" class="to_inner_display"><span class="iconfont-26 icon-pos"></span><p class="to_inner_display margin_left_10">卡付通</p></a></li>
            <li><a href="#" class="to_inner_display"><span class="iconfont-26 icon-chaxun1"></span><p class="to_inner_display margin_left_10">站内导航</p></a></li>
            <li><a href="/info" class="to_inner_display"><span class="iconfont-26 icon-noun__cc"></span><p class="to_inner_display margin_left_10">常见资讯</p></a></li>
            <li><a href="/dl" class="to_inner_display"><span class="iconfont-26 icon-iconset0339"></span><p class="to_inner_display margin_left_10">APP下载</p></a></li>
            <li><a href="/about" class="to_inner_display"><span class="iconfont-26 icon-4"></span><p class="to_inner_display margin_left_10">关于我们</p></a></li>
            <li><a href="/join" class="to_inner_display"><span class="iconfont-26 icon-dianhua"></span><p class="to_inner_display margin_left_10">加入我们</p></a></li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-default pc_nav navbar-fixed-top hidden-xs">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="iconfont-50 icon-pos"></span>
                <span>卡付通</span>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav hidden-xs hidden-sm">
                <li data-tp="1"><a href="/">首页</a></li>
                <li data-tp="2"><a href="/kft">卡付通</a></li>
                <li data-tp="3"><a href="#">站内导航</a></li>
                <li class="active" data-tp="4"><a href="/info">常见资讯</a></li>
                <li data-tp="5"><a href="/dl">APP下载</a></li>
                <li data-tp="6"><a href="/about">关于我们</a></li>
                <li data-tp="7"><a href="/join">加入我们</a></li>
            </ul>
            <div class="navbar-right">
                <span class="iconfont-26 icon-dianhua">15623236821</span>
            </div>
        </div>

    </div>
</nav>


<div class="container info_message margin_top_20">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 message_left">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">操作指南</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">行业资讯</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">常见问题</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                	
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                	
                </div>
            </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 message_right_info" id="order_info">
        	<!-- <div class="header">阅读排行</div>
        	<ul class="media-list message_content">
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/uploads/infos/home/1.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                    	<a href="#">
                        	<h5 class="media-heading">的经费1</h5>
                        </a>
                        <div class="p">中中中只感觉到非进口的爽肤水的经费刷卡的发送到
                        中中中只感觉到非进口的爽肤水的经费刷卡的发送到MediaMediaMediaMediaMediaMediaMediaMediaMediaMediaMedia
                        中中中只感觉到非进口的爽肤水的经费刷卡的发送到
                        中中中只感觉到非进口的爽肤水的经费刷卡的发送到1
                        </div>
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/uploads/infos/home/2.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                    	<a href="#">
                        	<h5 class="media-heading">Media heading</h5>
                        </a>
                        <div class="p">Media headingMedia headingMedia headingMedia headingMedia headingMedia heading
                        Media headingMedia headingMedia headingMedia headingMedia headingMedia heading
                        Media headingMedia headingMedia headingMedia headingMedia headingMedia heading
                        Media headingMedia headingMedia headingMedia headingMedia headingMedia heading2
                        </div>
                    </div>
                </li>
            </ul> -->
        </div>
    </div>
</div>



<div class="container phone_foot hidden-sm hidden-md hidden-lg navbar-fixed-bottom">
    <div class="row">
        <div class="col-xs-3"><a href="/"><span class="iconfont-26 icon-shouye-1 foot_top"></span><span class="foot_foot">首页</span></a></div>
        <div class="col-xs-3"><a href="#"><span class="iconfont-26 icon-zuoji foot_top"></span><span class="foot_foot">电话咨询</span></a></div>
        <div class="col-xs-3"><a href="/info"><span class="iconfont-26 icon-noun__cc foot_top"></span><span class="foot_foot">相关资讯</span></a></div>
        <div class="col-xs-3"><a href="#"><span class="iconfont-26 icon-chaxun1 foot_top"></span><span class="foot_foot">站内导航</span></a></div>
    </div>
</div>

<footer class="pc_foot hidden-xs">
    <div class="container">
        <ul class="foot-top">
            <li><a href="/">首页</a></li>
            <li><a href="/join">联系我们</a></li>
            <li><a href="/about">关于我们</a></li>
        </ul>
        <p>&copy;武汉卡付通公司 版权所有 "填写备案号" 联系热线：15623236821</p>
        <ul class="foot-top">
        	<li><img src="/images/ABUIABAEGAAg56f2wwUo1oXGoAYwfjgp.png"/></li>
        	<li><img src="/images/ABUIABAEGAAg86f2wwUon6i-4gQwfjgp.png"/></li>
        </ul>
    </div>
</footer>

<script src="/lib/jquery/jquery-1.12.4.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/template.js"></script>
</body>
</html>