<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>卡付通</title>
    <meta name="description" content="武汉卡付通公司，专业pos代理商" />
	<meta name="keywords" content="卡付通,武汉卡付通,pos代理" />
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/template.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/fonts/iconfont/iconfont.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="phone_shade phone_shade_hide hidden-sm hidden-md hidden-lg">
</div>

<div class="container phone_nav hidden-sm hidden-md hidden-lg">
    <header class="clearfix">
        <div class="header_menu"><a id="headerMenu_id"><span class="iconfont-32 icon-zitigui"></span></a></div>
        <div class="header_home"><a href="/"><span class="iconfont-32 icon-shouye-1"></span></a></div>
    </header>
    <div id="headerPanel_id" class="header_panel">
        <ul>
            <li><a href="/kft" class="to_inner_display"><span class="iconfont-26 icon-pos"></span><p class="to_inner_display margin_left_10">卡付通</p></a></li>
            <li><a href="#" class="to_inner_display"><span class="iconfont-26 icon-chaxun1"></span><p class="to_inner_display margin_left_10">站内导航</p></a></li>
            <li><a href="/info" class="to_inner_display"><span class="iconfont-26 icon-noun__cc"></span><p class="to_inner_display margin_left_10">常见资讯</p></a></li>
            <li><a href="/dl" class="to_inner_display"><span class="iconfont-26 icon-iconset0339"></span><p class="to_inner_display margin_left_10">APP下载</p></a></li>
            <li><a href="/about" class="to_inner_display"><span class="iconfont-26 icon-4"></span><p class="to_inner_display margin_left_10">关于我们</p></a></li>
            <li><a href="/join" class="to_inner_display"><span class="iconfont-26 icon-dianhua"></span><p class="to_inner_display margin_left_10">加入我们</p></a></li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-default pc_nav navbar-fixed-top hidden-xs">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="iconfont-50 icon-pos"></span>
                <span>卡付通</span>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav hidden-xs hidden-sm">
                <li data-tp="1"><a href="/">首页</a></li>
                <li class="active" data-tp="2"><a href="/kft">卡付通</a></li>
                <li data-tp="3"><a href="#">站内导航</a></li>
                <li data-tp="4"><a href="/info">常见资讯</a></li>
                <li data-tp="5"><a href="/dl">APP下载</a></li>
                <li data-tp="6"><a href="/about">关于我们</a></li>
                <li data-tp="7"><a href="/join">加入我们</a></li>
            </ul>
            <div class="navbar-right">
                <span class="iconfont-26 icon-dianhua">15623236821</span>
            </div>
        </div>

    </div>
</nav>

<div class="kft_bg">
	<a href="javascript:;" class="kftbg_pc hidden-xs" style="background-image: url('/images/cs_2.jpg')">
    </a>
    <a href="javascript:;" class="kftbg_phone hidden-sm hidden-md hidden-lg">
        <img src="/images/sc_2.jpg">
    </a>
</div>

<div class="container kft_dc margin_top_50">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4 dc_header">
           <h3>POS市场潜能巨大</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 dc_content">
            <p>我国每1万人所拥有的POS机是<span>13.8 </span>台 ，在美国这一数字跃升至<span>185 </span>台 ，而在韩国则高达<span>673 </span>台 ，随着国内消费水平的不断提升和消费意识的增强以及信用卡的普及，
                各种移动POS机不断问世。有关部门报告统计，中国POS机持有量平均以每年<span>15% </span>的速度在增长。最安全的系统、最人性化的设计，都是新
                型移动POS机的卖点。目前，POS行业已进入稳步增长期，从POS终端的覆盖率来看，中国人均拥有POS机数量远远低于国外，POS市场空间非常广阔。 </p>
        </div>
    </div>
</div>

<div class="container kft_hope margin_top_50">
    <div class="row" animation="bottom-to-top" animation-time="1000">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4 hope_header">
            <span>愿 景</span>
            <span class="color_cll">We All Hope</span>
        </div>
    </div>
    <div class="row margin_top_20" animation="bottom-to-top" animation-time="2000">
        <div class="col-xs-6 col-sm-3 hope_content">
            <div class="hope_content_item">
                <span class="tp iconfont-80 icon-zhinengshouhuani"></span>
                <div>
                    <h3 class="header">用心服务</h3>
                    <p class="content">为了梅奥讲究开发快递费几点睡付款打瞌睡浪费卡萨飞机卡萨丁经费三打两建发大水
                        瞌睡浪费卡萨飞机卡萨丁经费三打两建发
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 hope_content">
            <div class="hope_content_item">
                <span class="tp iconfont-80 icon-noun__cc"></span>
                <div>
                    <h3 class="header">创造价值</h3>
                    <p class="content">为了梅奥讲究开发快递费几点睡付款打瞌睡浪费卡萨飞机卡萨丁经费三打两建发大水
                        瞌睡浪费卡萨飞机卡萨丁经费三打两建发
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 hope_content">
            <div class="hope_content_item">
                <span class="tp iconfont-80 icon-zitigui-xianxing"></span>
                <div>
                    <h3 class="header">空指针异常</h3>
                    <p class="content">为了梅奥讲究开发快递费几点睡付款打瞌睡浪费卡萨飞机卡萨丁经费三打两建发大水
                        瞌睡浪费卡萨飞机卡萨丁经费三打两建发
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 hope_content">
            <div class="hope_content_item">
                <span class="tp iconfont-80 icon-woshou"></span>
                <div>
                    <h3 class="header">404</h3>
                    <p class="content">为了梅奥讲究开发快递费几点睡付款打瞌睡浪费卡萨飞机卡萨丁经费三打两建发大水
                        瞌睡浪费卡萨飞机卡萨丁经费三打两建发
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container kft_ddc margin_top_50">
    <div class="row">
       <div class="col-xs-12 col-md-6 left" animation="bottom-to-top" animation-time="1000">
            <img src="/images/ydzf.jpg" />
        </div>
        <div class="col-xs-12 col-md-6 right" animation="bottom-to-top" animation-time="1000">
            <h3>移动支付产业背景</h3>
            <p>基于远程移动互联网技术的第三方支付是目前市场接受度最高，也是最容易普及的移动支付市场规划为1511.4亿元，2013年达到12197.4亿元，增长率为707%。预计到2015年中国第三方移动支付市场规模将突破50000亿，达到52570.6亿元！</p>
        </div>
    </div>
</div>





<div class="container phone_foot hidden-sm hidden-md hidden-lg navbar-fixed-bottom">
    <div class="row">
        <div class="col-xs-3"><a href="/"><span class="iconfont-26 icon-shouye-1 foot_top"></span><span class="foot_foot">首页</span></a></div>
        <div class="col-xs-3"><a href="#"><span class="iconfont-26 icon-zuoji foot_top"></span><span class="foot_foot">电话咨询</span></a></div>
        <div class="col-xs-3"><a href="/info"><span class="iconfont-26 icon-noun__cc foot_top"></span><span class="foot_foot">相关资讯</span></a></div>
        <div class="col-xs-3"><a href="#"><span class="iconfont-26 icon-chaxun1 foot_top"></span><span class="foot_foot">站内导航</span></a></div>
    </div>
</div>

<footer class="pc_foot hidden-xs">
    <div class="container">
        <ul class="foot-top">
            <li><a href="/">首页</a></li>
            <li><a href="/join">联系我们</a></li>
            <li><a href="/about">关于我们</a></li>
        </ul>
        <p>&copy;武汉卡付通公司 版权所有 "填写备案号" 联系热线：15623236821</p>
        <ul class="foot-top">
        	<li><img src="/images/ABUIABAEGAAg56f2wwUo1oXGoAYwfjgp.png"/></li>
        	<li><img src="/images/ABUIABAEGAAg86f2wwUon6i-4gQwfjgp.png"/></li>
        </ul>
    </div>
</footer>

<script src="/lib/jquery/jquery-1.12.4.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/template.js"></script>
<script src="/js/easymotion.js"></script>
</body>
</html>